@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d87d4a;
  --secondary: #fbaf85;
  --tertiary: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;

  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--tertiary);
}

/* body {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--tertiary);
} */

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--tertiary);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .padding-h {
    @apply px-5 md:px-10 lg:px-28;
  }
}
